<div class="{{styles.block}}" id="test-block">
    <form class="form"> <br>
        Название:
        <input name="name" type="text"> <br>

        Проект:
        <select name="project">
            {{#each projects}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>

        Тип:
        <select name="type">
            {{#each types}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>

        Связанный тикет:
        <select name="linkedNum">
            {{#for 0 numbers 1}}
                <option value="{{this}}">{{this}}</option>
            {{/for}}
        </select> <br>

        Автор:
        <select name="author">
            {{#each authors}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>

        Исполнитель:
        <select name="executor">
            {{#each executors}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>

        Описание:
        <input name="description" type="text"> <br>

        Сложность:
        <input  name="complexity" type="number"> <br>

        Прикрепленный файл:
        <input name="file" type="file" id="file"> <br>

        <button class="sbmt">Добавить</button>
    </form>
    <div>
        Тикеты: <br>
        <div id="tickets"></div>
    </div>
</div>

