<div class="{{styles.block}}" id="test-block">
    <form class="form"> <br>
        Name:
        <input name="name" type="text"> <br>

        Project:
        <select name="project">
            {{#each projects}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>

        Type:
        <select name="type">
            {{#each types}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>

        Linked ticket:
        <select name="linkedNum">
            {{#for 0 numbers 1}}
                <option value="{{this}}">{{this}}</option>
            {{/for}}
        </select> <br>

        Author:
        <select name="author">
            {{#each authors}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>

        Executor:
        <select name="executor">
            {{#each executors}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select> <br>

        Description: <input name="description" type="text"> <br>

        Complexity: <input  name="complexity" type="number"> <br>

        File: <input name="file" type="file"> <br>
        <button class="sbmt">Submit</button>
    </form>
    <div>
        Tickets: <br>
        <div id="tickets"></div>
    </div>
</div>

